
# latex
*.aux
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.synctex.gz

# VPP
*.bak*

# Claude
/.claude

# Fotos
/sistema

.~lock.responsabilidades.xlsx#
.LI4.vpp.lck

# Maven
/app/target

/.github
/.vscode
code/app/target