extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    a.btn.btn-primary(href="/clientes/novo") 
      i.bi.bi-person-plus 
      |  Adicionar Cliente

  table.table.table-hover.table-bordered
    thead.table-dark
      tr
        th ID
        th Nome
        th Telefone
        th Email
        th NIF
        th Ações
    tbody
      tr
        td 1
        td João Silva
        td 912345678
        td joao.silva@email.com
        td 123456789
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Ver
          a.btn.btn-sm.btn-warning(href="#") Editar
      tr
        td 2
        td Maria Gomes
        td 987654321
        td maria.gomes@email.com
        td 987654321
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Ver
          a.btn.btn-sm.btn-warning(href="#") Editar
