extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    a.btn.btn-primary(href="#") 
      i.bi.bi-cart-plus 
      |  Gerar Lista (Falta de Stock)

  table.table.table-hover.table-bordered
    thead.table-dark
      tr
        th ID Encomenda
        th Data Criação
        th Fornecedor
        th Qtd Peças
        th Estado
        th Ações
    tbody
      tr
        td ENC-2001
        td 17/04/2026
        td Xiaomi Peças Oficiais Lda
        td 15
        td
          span.badge.bg-secondary Rascunho
        td
          a.btn.btn-sm.btn-warning.me-1(href="#") Editar Peças
          a.btn.btn-sm.btn-primary(href="#") Marcar Enviada
      tr
        td ENC-2000
        td 12/04/2026
        td ElectroScooter Parts
        td 5
        td
          span.badge.bg-info.text-dark Enviada
        td
          a.btn.btn-sm.btn-success.me-1(href="#") Registar Receção