extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    div
      input.form-control(type="date", value="2026-04-17", style="display:inline-block; width:auto;")

  div.row.mb-4
    div.col-md-4
      div.card.text-white.bg-success
        div.card-body
          h5.card-title Receitas (OS Pagas)
          h3 4.520,00 €
    div.col-md-4
      div.card.text-white.bg-danger
        div.card-body
          h5.card-title Despesas (Peças e Salários)
          h3 2.100,50 €
    div.col-md-4
      div.card.text-white.bg-primary
        div.card-body
          h5.card-title Lucro Líquido
          h3 2.419,50 €

  h4 Últimos Movimentos Financeiros
  table.table.table-striped
    thead.table-dark
      tr
        th Data
        th Tipo
        th Descrição
        th Valor
    tbody
      tr
        td 17/04/2026 14:00
        td 
          span.badge.bg-success Entrada
        td Pagamento OS-10023
        td.text-success + 120,00 €
      tr
        td 16/04/2026 10:30
        td 
          span.badge.bg-danger Saída
        td Pagamento Encomenda Fornecedor A
        td.text-danger - 350,00 €