extends layout

block content
  h1= title
  
  div.card.mb-4
    div.card-body
      form
        div.mb-3
          label.form-label Nome Completo
          input.form-control(type="text" placeholder="Insira o nome")
        div.mb-3
          label.form-label Telefone
          input.form-control(type="text" placeholder="Insira o telefone")
        div.mb-3
          label.form-label Email
          input.form-control(type="email" placeholder="Insira o email")
        div.mb-3
          label.form-label NIF
          input.form-control(type="text" placeholder="Insira o NIF")
        
        button.btn.btn-primary(type="button") Guardar Cliente
        a.btn.btn-secondary.ms-2(href="/clientes") Cancelar
