extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    a.btn.btn-primary(href="#") 
      i.bi.bi-person-plus 
      |  Adicionar Funcionário

  table.table.table-hover.table-bordered
    thead.table-dark
      tr
        th ID
        th Nome
        th Cargo
        th Email
        th Pagamento Mensal Atual
        th Ações
    tbody
      tr
        td FUNC-001
        td Carlos Santos
        td Mecânico
        td carlos@oficinatrotinetes.pt
        td 1250,50 €
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Ver
          a.btn.btn-sm.btn-warning.me-1(href="#") Editar
          a.btn.btn-sm.btn-success(href="#") Reg. Horas Extra
      tr
        td FUNC-002
        td Maria Costa
        td Secretária
        td mariac@oficinatrotinetes.pt
        td 1000,00 €
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Ver
          a.btn.btn-sm.btn-warning.me-1(href="#") Editar
          a.btn.btn-sm.btn-success(href="#") Reg. Horas Extra