extends layout

block content
  h1.mb-4= title
  
  div.row
    div.col-md-3
      div.card.text-white.bg-primary.mb-3
        div.card-header Clientes Registados
        div.card-body
          h5.card-title 124
          p.card-text Total de clientes ativos no sistema.
          a.btn.btn-light.btn-sm(href="/clientes") Gerir Clientes
          
    div.col-md-3
      div.card.text-white.bg-success.mb-3
        div.card-header Trotinetes
        div.card-body
          h5.card-title 210
          p.card-text Trotinetes em registo/reparação.
          a.btn.btn-light.btn-sm(href="/trotinetes") Gerir Trotinetes

    div.col-md-3
      div.card.text-white.bg-warning.mb-3
        div.card-header Ordens de Serviço Pendentes
        div.card-body
          h5.card-title 15
          p.card-text OS a aguardar intervenção.
          a.btn.btn-dark.btn-sm(href="/ordens-servico") Ver OS

    div.col-md-3
      div.card.text-white.bg-danger.mb-3
        div.card-header Alertas de Stock
        div.card-body
          h5.card-title 3
          p.card-text Peças com stock abaixo do nível mínimo.
          a.btn.btn-light.btn-sm(href="/stock") Verificar Stock

  div.row.mt-4
    div.col-md-6
      h3 Ordens de Serviço Recentes
      table.table.table-striped
        thead
          tr
            th ID OS
            th Trotinete
            th Estado
        tbody
          tr
            td OS-10023
            td SN12345 (Xiaomi)
            td 
              span.badge.bg-warning Pendente Reparação
          tr
            td OS-10024
            td SN98765 (Segway)
            td 
              span.badge.bg-info.text-dark Pendente Diagnóstico
