extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    a.btn.btn-primary(href="#") 
      i.bi.bi-plus-circle 
      |  Criar Rotina/Reparação

  table.table.table-hover.table-bordered
    thead.table-dark
      tr
        th Referência
        th Nomenclatura
        th Descrição
        th Custo de Execução (Mão de Obra)
        th Ações
    tbody
      tr
        td REP-001
        td Substituição de Pneu Frontal
        td Remoção do pneu antigo e substituição com recalibração.
        td 15,00 €
        td
          a.btn.btn-sm.btn-warning.me-1(href="#") Editar
          a.btn.btn-sm.btn-danger(href="#") Remover
      tr
        td REP-002
        td Diagnóstico Elétrico
        td Teste de todos os componentes de bateria e placa mãe.
        td 20,00 €
        td
          a.btn.btn-sm.btn-warning.me-1(href="#") Editar
          a.btn.btn-sm.btn-danger(href="#") Remover