extends layout

block content
  div.d-flex.justify-content-between.align-items-center.mb-3
    h1= title
    a.btn.btn-primary(href="#") 
      i.bi.bi-bicycle 
      |  Adicionar Trotinete

  table.table.table-hover.table-bordered
    thead.table-dark
      tr
        th Número de Série
        th Marca
        th Modelo
        th Cliente
        th Tipo de Motor
        th Ações
    tbody
      tr
        td SNX-998877
        td Xiaomi
        td Mi Electric Scooter 3
        td João Silva (ID: 1)
        td Elétrico (300W)
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Histórico
          a.btn.btn-sm.btn-warning(href="#") Editar
      tr
        td SNN-112233
        td Segway
        td Ninebot Max G30
        td Maria Gomes (ID: 2)
        td Elétrico (350W)
        td
          a.btn.btn-sm.btn-info.me-1(href="#") Histórico
          a.btn.btn-sm.btn-warning(href="#") Editar